@using ZakusochnayaViewWeb.Controllers
@model IEnumerable<ZakusochnayaServiceDAL.ViewModels.OutputViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Index", "Output")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OutputId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OutputName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OutputId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OutputName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OutputId}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OutputId})
        </td>
    </tr>
}

</table>
