@using ZakusochnayaServiceDAL.BindingModel
@model ZakusochnayaServiceDAL.ViewModel.SkladElementViewModel

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


@using (Html.BeginForm("AddElementPost", "AddSkladElement", FormMethod.Post))
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>SkladElementViewModel</h4>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			@Html.LabelFor(model => model.SkladName, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col md-10">
				@Html.DropDownList("SkladId", ViewBag.Sklads as SelectList)
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.ElementName, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col md-10">
				@Html.DropDownList("ElementId", ViewBag.Elements as SelectList)
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}