@model IEnumerable<ZakusochnayaServiceDAL.ViewModels.ZakazViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@Html.ValidationSummary(true)
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PokupatelFIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OutputName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Summa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PokupatelFIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OutputName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Summa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Отдать на выполнение", "SetStatus", new { id=item.ZakazId, status = "Processing" }) |
            @Html.ActionLink("Заказ готов", "SetStatus", new { id = item.ZakazId, status = "Ready" }) |
            @Html.ActionLink("Заказ оплачен", "SetStatus", new { id = item.ZakazId, status = "Paid" })
        </td>
    </tr>
}

</table>
